@model ProjetWeb.Models.Utilisateur
@{
    ViewData["Title"] = "Home Page";
}
<div class="card border-primary">
    <div class="card-header bg-primary text-white text-center">
        <h3>Connexion</h3>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="NomUtilisateur" class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-10">
                    @{
                        if (TempData.Peek("nomInscription") != null)
                        {
                            <input asp-for="NomUtilisateur" value="@TempData.Peek("nomInscription")" type="text" class="form-control" placeholder="Nom">
                        }
                        else
                        {
                            <input asp-for="NomUtilisateur" type="text" class="form-control" placeholder="Nom">
                        }
                    }
                    <span asp-validation-for="NomUtilisateur" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="MotPasse" class="col-sm-2 col-form-label">Mot de passe</label>
                <div class="col-sm-10">
                    <input asp-for="MotPasse" type="password" class="form-control" placeholder="Mot de passe">
                    <span asp-validation-for="MotPasse" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Connexion" />
                    <a class="btn btn-secondary" asp-controller="Home" asp-action="Inscription">Inscription</a>
                </div>
            </div>
        </form>
    </div>
</div>
